.App {
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  width: 80%;
}

.main {
  max-width: 40%;
}
.mainLists {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.ParticipantsList {
  display: flex;
  flex-direction: column;
}

.PlacesList {
  display: flex;
  flex-direction: row;
}

